body {
    background: url("../images/bg.jpg") no-repeat;
}
.sign {
    margin-top: 15%;
    margin-left: 41%;
    font-size: larger;
}
.onep {
    font-size: 25px;
    color: #db1c40;
}
.twop {
    font-size: 22px;
    color: #49CCED;
}
.sign .threep {
    font-size: 22px;
    color: #bd0d13;
}